body{
  font-family: "Arial";
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  text-align: left;
}

header {
  background: rgb(179, 0, 0);
  color: white;
  height: 60px;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 20px;
}

header h1, header a{
  display: inline;
  /* font-weight: bold; */
}

nav {
  background-color: #333333;
  color: white;
  width: 100%;
  height: 46px;
  text-align: right;
  padding-top: 23px;
}

nav a{
  margin: 10px 10px;
}

a {
  text-decoration: underline;
}

#art-museum {
  width: 100%;
  padding: 0%;
  margin: 0%;
}

section {
  width: 65%;
  float: left;
  margin: 2%;
}

right-aligned {
  float: right;
  width: 25%;
  margin: 2%
}

img {
  width: 90%;
  margin: 0% 0% 15% 0%;
  padding: 5%;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333333;
  color: white;
  padding: 15px;
}

#login {
  padding-right: 10px;
  padding-top: 5px;
  float: right;
  font-weight: normal;
}
